:root{
    --base-txt-color:rgb(48, 48, 48);
    --base-blue:rgb(8, 63, 181);
    --blue-hover:rgb(0, 81, 255);
    --base-orange:rgb(255, 159, 34);
    --base-red:rgb(192, 1, 1);
}

html, body{
    margin:0;
    padding: 0;
    font-family:'Lato', sans-serif;
    background-color:rgb(240, 240, 240);
    color:var(--base-txt-color,rgb(48, 48, 48));
}

.header{
    width: 100%;
    background:var(--base-blue,rgb(8, 63, 181));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle{
    color:white;
    text-decoration:none;
    padding:6px;
    font-weight:bolder;
    font-size:20px;
    margin-left:1%;
}

.headerTitle:hover{
    color:var(--base-orange,rgb(255, 159, 34));
    transition-duration: 0.2s;
}
/*---title top page---*/
.shopTitle{
    text-align:center;
    color:var(--base-blue);
}
section~h3{
    width:90%;
    margin:0 auto;
    padding:3.5vh 0 0 0;
    color:var(--base-blue,rgb(8, 63, 181));
}
/*------IDENTIFICATION BUTTON--------*/
/************************************/
.goSubscribe, .goConnexion{
    color:white;
    background-color:var(--base-blue,rgb(8, 63, 181));
    text-decoration:none;
    padding:10px;
    font-weight:bolder;
}
.goSubscribe{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.goConnexion{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right:-8px;
    border-right:none;
}
.goSubscribe:hover, .goConnexion:hover{
    color:var(--base-orange,rgb(255, 159, 34));
    background-color: var(--blue-hover,rgb(0, 81, 255));
    transition-duration:0.3s;
}
/*-------PANIER BUTTON-------*/
/****************************/
.panier img{   
    padding:5px 10px 5px 7px;
    width:40px;
}
.panier{
    border:2px outset var(--base-blue,rgb(8, 63, 181));
    border-radius:10px;
    background:var(--base-orange,rgb(255, 159, 34));
}
.headerRight{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:21%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../picture/shop.jpg");
    background-size: cover;
    background-position:center;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 50px;
}

.main h1{
    margin:25px 0px;
    padding:15px;
    text-align: center;
    color: #FFFFFF;
    font-size:100px;
    cursor:default;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1861ff, 0 0 30px #1861ff, 0 0 40px #1861ff, 0 0 55px #1861ff, 0 0 75px #1861ff;
}

.titre{
    color:white;
}

/*-------------SEARCH BAR-------------------*/
/*******************************************/
.formSearch{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:15px 0px;
}
.searchBar{
    padding:10px;
    width:90%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(103, 120, 156);
    border-right:none;
}
.formSearch button>i{
    font-size:1.1rem;
}

.formSearch button{
    padding:0 10px;
    background: var(--base-orange,rgb(255, 159, 34));
    color:white;
    text-shadow: 2px 2px 2px rgba(40,67,232,0.69);
    border:1px solid var(--base-blue,rgb(8, 63, 181));
    border-radius:0px 5px 5px 0px;
    height:37px;
    cursor:pointer;
}

/*-------DROPDOWN ACCOUNT---------*/
/*********************************/
.dropBtn{
    background-color: var(--base-blue,rgb(8, 63, 181));
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius:5px;
    text-align:left;
    line-height:20px;
}

.account:hover .dropBtn {
    background-color: var(--blue-hover,rgb(0, 81, 255));
}

.account {
    position: relative;
    display: inline-block;
}

.dropdownAccount {
    /*display:none;*/
    height:0;
    overflow:hidden;
    position: absolute;
    background-color: rgb(0, 71, 225);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition:0.5s;
}

.dropdownAccount a {
    color: white;
    border-top:1px solid rgb(30, 101, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left:0px;
}

.dropdownAccount a:hover {
    background-color: rgb(0, 71, 225);
    color:var(--base-orange,rgb(255, 159, 34));
}

.account:hover .dropdownAccount {
    /*display: block;*/
    height:auto;
}

/*------------------MENU CATEGORY-------------*/
/*********************************************/
.category{
    width:100%;
    font-size:15px;
    display:flex;
    justify-content: center;
    align-items: stretch;
    background-color:var(--base-blue,rgb(8, 63, 181));
}
.category a{
    text-decoration:none;
    color:white;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding: 0.4vw 1vw;
    font-size:0.9rem;
}
.category a:hover{
    background-color:var(--blue-hover,rgb(0, 81, 255));
    color:var(--base-orange,rgb(255, 159, 34));
    transition-duration: 0.2s;
}

/*-------------------FORMULAIRE CONNEXION.php-----------------*/
/*********************************************************/

.inscription, .connexion{
    width:45%;
}

.formConnexion{
    margin:20px auto 57px auto;
    padding-bottom:10px;
    width:22%;
    border-radius:15px;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.formConnexion form{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.form input{
    margin-top:5px;
    margin-bottom:5px;
    border-radius:5px;
    padding:5px;
}
.formConnexion label{
    display: inline-block;
    color:black;
    margin-top:20px;
    margin-left:3%;
}
.inputConnexion{
        width: 90%;
        margin:6px 1% 0px 3%;
        padding:5px;
        border-radius:5px;
        border:1px solid rgb(151, 151, 151);
}
.btnConnexion{
    width: 95%;
    padding:7px;
    margin:20px 2%;
    border:1px solid rgb(151, 151, 151);
    border-radius: 5px;
    background-color: var(--base-orange,rgb(255, 159, 34));
    font-weight:bold;
    cursor:pointer;
}
.connexionTitle{
    text-align:center;
    color:black;
    margin:19px 0px 5px 0px;
}


/*-------------------FORMULAIRE INSCRIPTION.php-----------------*/
/***********************************************************/
.formSubscribe{
    margin:20px auto 57px auto;
    padding-bottom:10px;
    width:22%;
    border-radius:15px;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content:center;

}
.formSubscribe label{
    display: inline-block;
    color:black;
    margin-top:20px;
    margin-left:3%;
}
.inputSubscribe{
    width: 90%;
    margin:6px 1% 0px 3%;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(151, 151, 151);
}
.formSubscribe h2{
    color:black;
}

.btnSubscribe{
    width: 95%;
    padding:7px;
    margin:20px 2%;
    border:1px solid rgb(151, 151, 151);
    border-radius: 5px;
    background-color: var(--base-orange,rgb(255, 159, 34));
    font-weight:bold;
    cursor:pointer;
}
/*******************************************************************************************/
/*----------------------------------------INDEX.PHP---------------------------------------*/
/*****************************************************************************************/

.shop{
    display:flex;
    flex-direction:column;
    width:100%;
}
/*----Promotion-----*/
.promo{
    height:32vh;
    margin:0;
}
.promo>img{
     width:100%;
    /*height:250px;*/
}

/*--- + VISITED CATEGORIES---*/
/*************************/
.indFirst{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:80%;
    margin: 2vh auto;
    justify-content: space-evenly;
}

.indFirst h3{
    color:var(--base-blue,rgb(8, 63, 181));
    margin:2vh;
}
.indFirst div{
    display:flex;
    justify-content: space-evenly;
}

.indFirst img{
    display:block;
    margin:1px auto;
    border-radius:50%;
    width:100%;
    background:var(--base-blue);
    transition:0.3s;
    padding:3px;
}

.indFirst>div>a{
    border-radius:50%;
    width:13%;
}
.indFirst>div>a>img:hover{
    transform:scale(1.1);
    box-shadow: 2px 2px 5px 1px #929292;
    background:var(--base-orange);
}

/*--------put forward brand section--------*/
.PFbrand{
    background-color: rgb(255, 255, 255);
    width:80%;
    margin:2vh auto 0 auto;
    border-radius: 5px;
    padding-bottom:1vh;
}
.PFbrand>h3{
    margin:1vh 0 0.5vh 2vw;
    color:var(--base-blue,rgb(8, 63, 181));
}
/*------------promo section------------*/
/* general */
.highLighted{
    width:80%;
    margin:2vh auto 0 auto;
    border-radius:5px;
}
.highLighted>div{
    display: inline-block;
    background:white;
    height:28vh;
    border-radius:5px;
}
.highLighted>div:nth-child(1){
    width: 25%;
}
.highLighted>div:nth-child(2){
    width: 74%;
    float:right;
}
.highLighted>div:nth-child(2)>a{
    display: inline;
    float: right;
    margin-right:1vw;
    position:relative;
    bottom:3vh;
    text-decoration: none;
    font-weight: bold;
    color: var(--base-blue);
    transition:0.3s;
}
.highLighted div:nth-child(2)>a:hover{
    transform:scale(1.07);
}
/*----------last viewed product-----------*/
.highLighted>div:nth-child(1)>h3{
    margin:1vh 0vw 1.4vh 1vw;
    color:var(--base-blue);
}
.highLighted>div:nth-child(1)>a{
    text-decoration:none;
}
.highLighted>div:nth-child(1)>a>img{
    display:block;
    max-width:120px;
    width:auto;
    max-height:120px;
    height:auto;
    margin:1vh auto 0 auto;
}
.highLighted>div:nth-child(1)>a>p:nth-child(2){
    text-align:center;
    color:var(--base-txt-color);
    font-weight:bold;
}
.highLighted>div:nth-child(1)>div{
    display:flex;
    justify-content:space-between;
}
.highLighted>div:nth-child(1)>div>p:nth-child(1){
    color:var(--base-txt-color);
    margin:0;
    margin-left:1vw;
}
.highLighted>div:nth-child(1)>div>p:nth-child(2){
    color:var(--base-red);
    font-weight:bold;
    font-size:1.1rem;
    margin:0;
    margin-right:1vw;
}

/*-------second section highlight index.php-------*/
.highLighted2{
    width:80%;
    margin:2vh auto 0 auto;
    display:flex;
    justify-content:space-between;
}
.highLighted2>div{
    /* display: inline-block; */
    background:white;
    border-radius:5px;
}
.highLighted2>div:nth-child(1){
    width: 75%;
}
.highLighted2>div:last-child{
    width: 24%;
}

 /*---------christmas selection--------*/
 .highLighted2>div:first-child>h3{
    margin:1vh 0vw 1vh 1vw;
    color:var(--base-blue);
 }
 .card5{
    width:200px;
    text-decoration:none;
    height:23vh;
    margin:1vh 1vw;
    border-radius:5px;
}
.card5:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}
.card5>img{
    max-width:120px;
    width:auto;
    max-height:120px;
    height:auto;
    margin:1vh auto 0 auto;
}
.card5>p:nth-child(2){
    text-align: center;
    color:var(--base-txt-color);
    font-weight:bold;
    margin:1vh 0;
}
.card5 p:nth-child(3){
    text-align: center;
    color:var(--base-txt-color);
    font-size: 0.9rem;
    margin:0.5vh 0;
}
.card5>div{
    display:flex;
    justify-content:space-between;
}
.christmasStock{
    margin:0 0 0 1vh;
}
.christmasPrice{
    margin:0 1vh 0 0;
}
.card5>div>p:last-child{
    color:var(--base-red);
    font-weight:bold;
    text-align:right;
}
.highLighted2>div:first-child>.slick-slider{
    margin-bottom:0;
}
.highLighted2>div:first-child>.slick-dotted{
    margin-bottom:0;
}
/*most viewed article yesterday*/
.highLighted2>div:last-child h3{
    margin:1vh 0vw 2vh 1vw;
    color:var(--base-blue);
}
.highLighted2>div:last-child>a{
    text-decoration:none;
}
.highLighted2>div:last-child>a>img{
    display:block;
    max-width:130px;
    width:auto;
    max-height:130px;
    height:auto;
    margin:1vh auto 0 auto;
}
.highLighted2>div:last-child>a>p{
    text-align:center;
    color:var(--base-txt-color);
    font-weight:bold;
}
.highLighted2>div:last-child>div{
    display:flex;
    justify-content:space-between;
}
.highLighted2>div:last-child>div>p:first-child{
    margin-left:1.5vw;
}
.highLighted2>div:last-child>div>p:last-child{
    margin-right:1.5vw;
    font-weight:bold;
    color:var(--base-red);
}

/*----------promo and advertising section-----------*/
.promo-ad{
    width:90%;
    margin:2vh auto 0 auto;
}
.promo-ad>.slick-slider{
    margin-bottom:0;
}
.promo-ad>.slick-dotted{
    margin-bottom:0;
}
.promo-ad img{
    border-radius:5px;
    height:450px;
    width:90%;
}
.promo-ad>.slick-prev{
    margin-left:30px;
    z-index:1;
}
.promo-ad>.slick-next{
    margin-right:30px;
    z-index:1;
}
.promo-ad>.slick-next:hover,
.promo-ad>.slick-next:focus,
.promo-ad>.slick-prev:hover,
.promo-ad>.slick-prev:focus{
    background:none;
}
.promo-ad>.slick-next:before,
.promo-ad>.slick-prev:before{
    color:white;
}
.adSection>.slick-dotted,.adSection>.slick-slider{
    margin-bottom:0;
}
/*--------last viewed products--------*/
.lvp{
    width:80%;
    margin: 2vh auto 0 auto;
    background:white;
    border-radius:5px;
}
.lvp>h3{
    margin:1vh 0vw 1vh 1vw;
    color:var(--base-blue);
}
.stockLvp{
    margin: 0;
    padding-left:0.5vw;
}
.priceLvp{
    margin:0;
    padding-right:0.5vw;
}
.lvp>.slick-dotted,.lvp>.slick-slider{
    margin-bottom:1vh;
}
/*look card5 for css


/*--------INFINITE LOOP OF ARTICLE------*/
.loop{
    width:80%;
    margin: 2vh auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:3px solid white;
    border-radius:5px;
    padding-bottom:1vh;
}
.loop>h3{
    width:100%;
    margin:0 auto;
    padding:0.5vh 0;
    color:var(--base-blue);
    text-align: center;
    background:white;
}
/*********************************************/
/*--------------SLIDER and CARD-------------*/
/*******************************************/
.sliderI1{
    width:92%;
    margin:0 auto;
}
/*--slider index.php--*/
.sliderI2{/*SScard*/
    width:94%;
    margin:0 auto;
}
.sliderI3{
    width:94%;
    margin:0 auto;
}
.sliderI4{
    width:94%;
    margin:0 auto;
}
/*--slider category.php--*/
.sliderC3{
    width:76vw;
    margin:0 auto;
    padding-bottom:1vh;
}
/*----------BScard-----------*/
.cardBS{
    display:flex;
    flex-direction:column;
    width:15vw;
    border-radius:5px;
    margin:7px 5px 0px 5px;
    background-color: white;
}
.cardBS:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}
.cardBS>img{
    height:150px;
    width:auto;
    margin:0 auto;
} 

.topCard{
    width:100%;
    padding-bottom:10px;
    display:flex;
    justify-content:center;
}

.topCard img{
    width:auto;
    max-width:180px;
    max-height:200px;
    min-height:50px;
    margin-top:20px;
}

.bottomCard{
    width: 85%;
    display: flex;
    justify-content:end;
    flex-direction: column;
    margin-left:1vw;
}

.bottomCard>h3~p{
    font-size:12px;
}

.bottomCard>a{
    text-decoration: none;
    color:black;
}

.detailLink{
    width:50px;
    margin-bottom:5px;
    padding: 10px 5px;
    text-decoration:none;
    border-radius:10px;
    align-items:center;
    background-color:var(--base-blue,rgb(8, 63, 181));
    color:white;
}
.detailLink:hover{
    background-color:var(--blue-hover,rgb(0, 81, 255));
    color:var(--base-orange,rgb(255, 159, 34));
    transition-duration: 0.2s;
}

.bottomCard h3{
    margin:10px 0px;
}
.bottomCard p{
    margin:10px 0px;
}
.detail{
    display:flex;
    justify-content:space-between;
}
.btnDetail{
    display:flex;
    align-items:center;
}
.cardLink{
    text-decoration: none;
} 
/*-----------SScard-----------*/
.cardSS{
   display:flex;
   flex-direction:column;
   justify-content: stretch;
   align-items: center;
   width:14vw;
   border-radius:5px;
   margin:7px 6px 5px 6px;
   background-color: white;
   color:var(--base-txt-color);
}
.cardSS:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}

/*----------card3-------------(sliderC3)*/
.card3{
    margin:3px;
    margin-right:10px;
    border-radius:5px;
}
.card3:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}
.card3 div:first-child{
    height:16vh;
}
.card3 div:first-child img{
    max-height: 150px;
    max-width: 150px;
    height:auto;
    width:auto;
    margin:8px auto 0 auto;
}
.card3 div:last-child{
    margin:0.5vw;
    height:15vh;
}

.card3 div:last-child a{
    text-decoration: none;
}
.card3 div:last-child a>h3{
    color:var(--base-txt-color);
}
.card3 div:last-child>a~p{
    font-size: 0.8rem;
    
}
.card3 div:last-child div{
    margin:0;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.card3 div:last-child div p{
    margin:0;
}
.card3 div:last-child div p:first-child{
    color:rgb(194, 4, 4);
    font-size: 1.1rem;  
}

/*------card4------(sliderI1)*/
.card4{
    width:200px;
    text-decoration:none;
    height:23vh;
    margin:1vh 1vw;
    border-radius:5px;
}
.card4:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}
.card4>img{
    max-width:120px;
    width:auto;
    max-height:120px;
    height:auto;
    margin:1vh auto 0 auto;
}
.card4>p{
    text-align: center;
    color:var(--base-txt-color);
    margin:1vh 0 0.5vh 0;
}
.card4>div{
    display:flex;
    justify-content:space-between;
    margin:0 2vw;
}
.card4>p:nth-child(2){
    font-weight:bold;
}
.card4>p:nth-child(3){
    color:var(--base-red);
    margin:0.5vh 0 1vh 0;
    font-weight:bold;
}
.card4>p:nth-child(3)>span{
    text-decoration: line-through;
}
.slick-dots{
    visibility: hidden;
}

/*-----------card5--------------*/

/*find card5 in christmas selection index.php*/

/*-----------scroll button in sliders---------*/
.slick-prev:before,
.slick-next:before {
    color:var(--base-orange,rgb(255, 159, 34));
    font-size:1.5rem;
    position:relative;
    right:2px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background: var(--base-blue,rgb(8, 63, 181));
    border-radius:50%;
}

/****************************************************************************************/
/*-----------------------------------------ARTICLE.PHP---------------------------------*/
/**************************************************************************************/
.allArticle{
    width:80%;
    margin: 25px auto;
    padding:2vh 10px 1vh 10px;
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    border-radius:5px;
}
.imgArticle{
    width:40%;
    margin-right:50px;
}
.imgArticle img{
    width:auto;
    min-height:500px;
    max-height:500px;
}
.detailArticle{
    width: 35%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.detailArticle>h2{
    margin-bottom:2px;
}
.articleDesc{
    line-height:1.5rem;
}
.addCartSuccess{
    display:inline-block;
    width:40%;
    background-color:var(--base-orange,rgb(255, 159, 34));
    color:rgb(8, 63, 181);
    padding:5px;
    border-radius:5px;
    font-size:1.1rem;
    /* text-shadow: 1px 1px 1px #0348FF; */
}
.addCartSuccess~a{
    text-decoration: none;
    display:inline-block;
    width:30%;
    background-color:var(--base-blue,rgb(8, 63, 181));
    color:rgb(255, 145, 0);
    padding:5px;
    border-radius:5px;
    font-size:1rem;
}

.formPanier select{
    border-radius:4px;
    padding:4px;
    cursor:pointer;
}
.formPanier input{
    padding:6px;
    border: none;
    border-radius:5px;
    background-color:rgb(192, 1, 1);
    color:white;
    font-weight:bolder;
    cursor:pointer;
    margin-left:10px;
    transition:.3s;

}
.formPanier input:hover{
    background-color:rgb(219, 0, 0);
}
/*----------------ARTICLE DETAILS----------------*/
/************************************************/
.descArticle h2{
    margin:20px 0px 5px 0px;
}
.articleName,
.articleBrand,
.articlePrize,
.articleDesc{
    margin:0px;
}
.articleBrand{
    font-size:12px;
    margin-bottom:5px;
}
.articlePrize{
    margin-bottom:15px;
}
.articlePrize span{
    font-weight:bolder;
    color:rgb(194, 4, 4);
}
.articleDesc{
    margin-bottom:15px;
}

/*--------------------SIMILAR PRODUCT-----------------*/
/*****************************************************/
.similarh3{
    width:80%;
    margin:0px auto;
    background-color: white;
    color:var(--base-blue,rgb(8, 63, 181));
    padding:15px 10px;
    border-radius:5px 5px 0 0;
}
.similarProduct{
    width:80%;
    margin:0px auto;
    padding:0 10px 1vh 10px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color:#FFF;
    border-radius:0 0 5px 5px;
}

.similarProduct a{
    text-decoration:none;
    color:rgb(22, 22, 22);
    width:16%;
}
.similarProduct h4{
    margin:20px 0px 5px 0px;
}

.similar{
    padding:20px;
    text-align: center;
}

.similar:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}

.similarTop img{
    width:auto;
    min-height:150px;
    max-height:150px;
}

.similarBottom .articlePrize{
    color:rgb(194, 4, 4);
    font-weight:bolder;
}
.similarBottom{
    text-align:left;
}
/*----------------------------------ADDTOCART.php--------------------------------*/
.stkNtG{
    color:red;
}
/*------------------------------------PANIER.PHP------------------------------------*/
.sctnCaPa{
    width: 70%;
    margin:0 auto;
}
/**************left section cart***************/ 
.cart{
    display:inline-flex;
    flex-direction:column;
    width: 65%;
    border-bottom:none;
    border-radius:5px;
}
.cart>div{
    display:flex;
    box-sizing:border-box;
    margin-bottom:10px;
    background-color: white;
    border-radius:5px;
}
.cart>div div:first-child{
    width:20%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.cart img{
    height:10vh;
}

.cart>div div:nth-child(2){
    width:60%;
}
.cart div:nth-child(2)>p:first-child{
    font-weight:bold;
}
.cart>div div:nth-child(3){
    width:15%;
}
.cartSpan{
    font-weight: bold;
}
.cart div div:last-child{
    width:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.delbtn{
    text-align: right;
    width:fit-content;
    margin:0;
    padding:0;
} 
.delbtn input{
    cursor:pointer;
    background:var(--base-orange);
    border:none;
    border-radius:3px;
    padding:3px;
    color:black;
    padding:0.3vh 0.4vw;
}
/***********right section payment***************/
.payment{
    width:22%;
    display:inline-block;
    background: white;
    border-radius:5px;
    position:fixed;
    margin-left:1vw;
    margin-top:7vh;
}
.payment p{
    display:flex;
    flex-direction:column;
    margin:1.5vh 3.5vw;
}
.payment p span:first-child{
    font-weight: bold;
    margin-bottom:1vh;
    font-size:1.3rem;
}
.payment p span:last-child{
    font-weight: bold;
    color:rgb(194, 4, 4);
    font-size:1.3rem;
}
.payment a{
    text-decoration:none;
    background: var(--base-orange);
    color:black;
    display:block;
    width:50%;
    margin:1vh auto;
    text-align: center;
    padding:0.5vw 0;
    border-radius:5px;
}

/*-------------------------------------CATEGORY.PHP-------------------------------*/
/*********************************************************************************/
.mWa{
    background-color:rgb(255, 255, 255);
    width: 80%;
    margin:2vh auto;
    border-radius: 5px;
}
.mWa h3{
    width:95%;
    color:var(--base-blue,rgb(8, 63, 181));
    margin:0 auto;
    padding-top:15px;
}

/*************************************************************************************/
/*-------------------------------------BACK OFFICE----------------------------------*/
/*--------------------------------------ADMIN.PHP----------------------------------*/
/**********************************************************************************/

.userTitle{
    text-align:center;
}
.goShop{
    display:block;
    width:60%;
    text-align: center;
    text-decoration: none;
    color:white;
    font-weight:bolder;
    background-color: var(--base-blue,rgb(8, 63, 181));
    margin:2vh auto;
    padding:15px 0px;
    border-radius:5px;
}

/*---------------LISTE USER------------*/
/**************************************/
.usertab{
    width:80%;
    border:1px solid black;
    border-bottom:none;
}
.ligne{
    height:35px;
    display:flex;
    align-items:center;
    border-bottom:1px solid black;
}
.email , .role{
    display:inline-block;
    width:20%;
    text-align:center;
}
.modifyUser,
.deleteUser,
.banUser{
    width:18%;
    padding:5px;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    margin: 0% 1%;
    border-radius:5px;
}
.modifyUser{
    background-color:var(--base-blue,rgb(8, 63, 181));
    color:white;
    font-weight:bolder;
}
.deleteUser{
    background-color:rgb(206, 0, 0);
    color:white;
    font-weight:bolder;
}
.banUser{
    background-color:rgb(43, 43, 43);
    color:white;
    font-weight:bolder;
}
.createUser{
    background-color:rgb(7, 136, 0);
    color:white;
    font-weight:bolder;
    width:5%;
    padding:20px 5px;;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
    border:2px outset rgb(0, 112, 0);
    display:flex;
    align-items:center;
}

.userTable{
    display:flex;
    width:100%;
    margin:1% 0%;
    justify-content:center;
}
/*-------user search bar ---------*/

.userSearch{
    width:60%;
    margin:4vh auto 0 auto;
    position:relative;
    overflow: hidden;
}

.userSearch:focus-within {
    overflow: visible;
}
.userSearch>h3{
    margin-top:0;
}
.userSearch>div{
    position:absolute;
    width:100%; 
}
.inputSearch{
    width:100%;
    padding:10px 0;
    box-sizing: border-box;
}

.userResult{
    display:block;
    text-decoration:none;
    padding: 1vh 0;
    margin-top:20px;
    margin: 0 auto;
    color:var(--base-txt-color);
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-box-shadow: 0px 8px 10px 0px #808080; 
    box-shadow: 0px 8px 10px 0px #808080;
}
.userResult:hover{
    background:var(--base-blue);
    color:white;
}
#result-search1{
    text-align:center;
}

/*-------article search bar ---------*/

.articleSearch{
    width:60%;
    margin:4vh auto 0 auto;
    position:relative;
    overflow: hidden;
}

.articleSearch:focus-within {
    overflow: visible;
}
.articleSearch>h3{
    margin-top:0;
}
.articleSearch>div{
    position:absolute;
    width:100%; 
}
.inputSearchA{
    width:100%;
    padding:10px 0;
    box-sizing: border-box;
}

.articleResult{
    display:block;
    text-decoration:none;
    padding: 1vh 0;
    margin-top:20px;
    margin: 0 auto;
    color:var(--base-txt-color);
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-box-shadow: 0px 8px 10px 0px #808080; 
    box-shadow: 0px 8px 10px 0px #808080;
}
.articleResult:hover{
    background:var(--base-blue);
    color:white;
}
#result-search2{
    text-align:center;
}

/*---------------------MODIFIER.PHP----------------------*/
/********************************************************/
.tabUser{
    display:flex;
    flex-direction: column;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:4vh;
    border:1px solid black;
    border-radius:10px;
}
.tabUser>div:first-child{
    display:flex;
    justify-content: space-around;
}
.tabUser>div:last-child{
    width:50%;
    margin:3vh auto 0 auto;
    text-align: center;
    display:flex;
}
.tabUser>div:last-child>a{
    display:block;
    padding:15px 0;
    width:20%;
    margin:0 auto;
    text-decoration: none;
    color:white;
    font-weight:bold;
    border-radius: 5px;
}
.tabUser>div:last-child>a:first-child{
    background-color:var(--base-red);
}
.tabUser>div:last-child>a:last-child{
    background-color:rgb(43, 43, 43);
}
.afficherUser{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.updateUser form{
    display:flex;
    flex-direction:column;
}
.submit{
    margin-bottom:16px;
}
.updateUser form label{
    margin-top:10px;
}
.submitUpdate{
    margin:10px;
    padding:7px;
    border-radius:5px;
    cursor:pointer;
    background-color:var(--base-blue,rgb(8, 63, 181));
    color:white;
    border:1px solid black
}

/*----------------------SUPPRIMER.php---------------------*/
/*********************************************************/
.deletetab{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border:1px solid black;
    border-radius: 10px;
}
.deleteBtn{
    margin-bottom:21px;
    padding:15px 40px;
    border:1px solid rgb(206,0,0);
    background-color:rgb(206,0,0);
    font-weight:bolder;
    color:white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.deleteForm{
    display:flex;
    justify-content:center;
    align-items:center;
}
.retourAccueil{
    margin-top:5vh;
    display:block;
    text-align: center;
}

/*----------------------BANNIR.php------------------------*/
/*********************************************************/
.bantab{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border:1px solid black;
    border-radius: 10px;
}
.banBtn{
    margin-bottom:21px;
    padding:15px 40px;
    border:1px solid rgb(43, 43, 43);
    background-color:rgb(43, 43, 43);
    font-weight:bolder;
    color:white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.banForm{
    display:flex;
    justify-content:center;
    align-items:center;
}

/*----------------------CREATE.PHP-----------------------*/
/********************************************************/
.create form{
    display: flex;
    flex-direction: column;
    padding:15px;
}
.create{
    width:20%;
    margin: 2% auto;
    border:1px solid black;
    border-radius:5px;
}
.create h3{
    text-align:center;
}
.create form label{
    margin-top:10px;
}
.create form input{
    padding:7px;
    border-radius: 5px;
    font-size: 12px;
    border:1px solid black;
}
.create form select{
    padding:7px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 15px; 
}
.submitCreate{
    margin-top:20px;
    background-color: rgb(7, 136, 0);
    color:white;
    font-weight:bolder;
}


/*------------ADD ARTICLE------------*/
/************************************/
.addTitle{
    text-align:center;
}
.addTable{
    border:1px solid black;
    border-radius:7px;;
    width: 50%;
    margin:0px auto;
}
.addArticle form{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin: 20px 20px;
}
.addArticle form label{
    margin-top:10px;
}
.addFormL{
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:space-evenly;
}
.addFormR{
    width:30%;
    display:flex;
    flex-direction:column;
}
.addButton{
    width:20%;
    display:flex;
    flex-direction:column;
    justify-content: right;
}
.addError{
    text-align:center;
    font-weight:bolder;
    color:red;
}
.addSuccess{
    text-align:center;
    font-weight:bolder;
    color:var(--base-blue,rgb(8, 63, 181));
}


/*-----------------------------------------FOOTER.php---------------------------------------*/
/*******************************************************************************************/
footer{
    background-color:var(--base-blue,rgb(8, 63, 181));
    margin-top:2%;
}
footer>p{
    padding:15px;
    margin:0px;
    text-align: center;
    color: #FFFFFF;
    font-size:100px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1861ff, 0 0 30px #1861ff, 0 0 40px #1861ff, 0 0 55px #1861ff, 0 0 75px #1861ff;
}


