html, body{
    margin:0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:rgb(242, 242, 242);
}

.header{
    width: 100%;
    background:rgb(8, 63, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle{
    color:white;
    text-decoration:none;
    padding:6px;
    font-weight:bolder;
    font-size:20px;
    margin-left:1%;
}

.headerTitle:hover{
    color:rgb(255, 159, 34);
    transition-duration: 0.2s;
}
/*------IDENTIFICATION BUTTON--------*/
/*************************************/
.goSubscribe, .goConnexion{
    color:white;
    background-color:rgb(8, 63, 181);
    text-decoration:none;
    padding:10px;
    font-weight:bolder;
}
.goSubscribe{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.goConnexion{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right:-8px;
    border-right:none;
}
.goSubscribe:hover, .goConnexion:hover{
    color:rgb(255, 159, 34); 
    background-color: rgb(0, 81, 255);
    transition-duration:0.3s;
}
/*-------PANIER BUTTON-------*/
/*****************************/
.panier img{   
    padding:5px 10px 5px 7px;
    width:40px;
}
.panier{
    border:2px outset rgb(0, 46, 145);
    border-radius:10px;
    background:rgb(255, 159, 34); 
}
.panier:hover{
    background-color: rgb(255, 145, 0); 
    border:2px outset rgb(0, 56, 177);
    transition:0.2s;
}

.headerRight{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:21%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../picture/shop.jpg");
    background-size: cover;
    background-position:center;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 50px;
}

.main h1{
    margin:25px 0px;
    padding:15px;
    text-align: center;
    color: #FFFFFF;
    font-size:100px;
    cursor:default;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1861ff, 0 0 30px #1861ff, 0 0 40px #1861ff, 0 0 55px #1861ff, 0 0 75px #1861ff;
}

.titre{
    color:white;

}

/*-------------SEARCH BAR-------------------*/
/****************************************************/
.formSearch{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:15px 0px;
}
.searchBar{
    padding:10px;
    width:90%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(103, 120, 156);
    border-right:none;
}
.formSearch button>i{
    font-size:1.1rem;
}

.formSearch button{
    background: rgb(255, 159, 34);
    color:white;
    text-shadow: 2px 2px 2px rgba(40,67,232,0.69);
    border:1px solid rgb(8, 63, 181);
    border-radius:0px 5px 5px 0px;
    height:37px;
    cursor:pointer;
}

/*-------DROPDOWN ACCOUNT---------*/
/*********************************/
.dropBtn{
    background-color: rgb(8, 63, 181);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius:5px;
    text-align:left;
    line-height:20px;
}

.account:hover .dropBtn {
    background-color: rgb(0, 71, 225);
}

.account {
    position: relative;
    display: inline-block;
}

.dropdownAccount {
    /*display:none;*/
    height:0;
    overflow:hidden;
    position: absolute;
    background-color: rgb(0, 71, 225);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition:0.5s;
}

.dropdownAccount a {
    color: white;
    border-top:1px solid rgb(30, 101, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left:0px;
}

.dropdownAccount a:hover {
    background-color: rgb(0, 71, 225);
    color:rgb(255, 159, 34);
}

.account:hover .dropdownAccount {
    /*display: block;*/
    height:auto;
}

/*------------------MENU CATEGORY-------------*/
/***********************************************/
.category{
    width:100%;
    font-size:15px;
    display:flex;
    justify-content: center;
    align-items: stretch;
    background-color:rgb(8, 63, 181);
}
.category a{
    text-decoration:none;
    color:white;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content:center;
    padding: 0.4vw 1vw;
    font-size:0.9rem;
}
.category a:hover{
    background-color:rgb(0, 71, 225);
    color:rgb(255, 159, 34);
    transition-duration: 0.2s;
}

/*-------------------FORMULAIRE CONNEXION-----------------*/
/**********************************************************/

.inscription, .connexion{
    width:45%;
}

.formConnexion{
    margin:20px auto 57px auto;
    padding-bottom:10px;
    width:22%;
    border-radius:15px;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.formConnexion form{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.form input{
    margin-top:5px;
    margin-bottom:5px;
    border-radius:5px;
    padding:5px;
}
.formConnexion label{
    display: inline-block;
    color:black;
    margin-top:20px;
    margin-left:3%;
}
.inputConnexion{
        width: 90%;
        margin:6px 1% 0px 3%;
        padding:5px;
        border-radius:5px;
        border:1px solid rgb(151, 151, 151);
}
.btnConnexion{
    width: 95%;
    padding:7px;
    margin:20px 2%;
    border:1px solid rgb(151, 151, 151);
    border-radius: 5px;
    background-color: rgb(255, 159, 34);
    font-weight:bold;
    cursor:pointer;
}
.connexionTitle{
    text-align:center;
    color:black;
    margin:19px 0px 5px 0px;
}


/*-------------------FORMULAIRE INSCRIPTION-----------------*/
/************************************************************/
.formSubscribe{
    margin:20px auto 57px auto;
    padding-bottom:10px;
    width:22%;
    border-radius:15px;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content:center;

}
.formSubscribe label{
    display: inline-block;
    color:black;
    margin-top:20px;
    margin-left:3%;
}
.inputSubscribe{
    width: 90%;
    margin:6px 1% 0px 3%;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(151, 151, 151);
}
.formSubscribe h2{
    color:black;
}

.btnSubscribe{
    width: 95%;
    padding:7px;
    margin:20px 2%;
    border:1px solid rgb(151, 151, 151);
    border-radius: 5px;
    background-color: rgb(255, 159, 34);
    font-weight:bold;
    cursor:pointer;
}

/*----------------------------------------BOUTIQUE.PHP---------------------------------------*/
/*********************************************************************************************/

.shop{
    display:flex;
    width:100%;
}
/*---------MENU CATEGORY--------ON INDEX(BOUTIQUE).PHP AND CATEGORY.PHP*/ 
/********************************/
/*----FRANCE MAP---*/
/*******************/
.nav-content{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin-bottom:15px;
    padding-top: 10px;
    background-color: #FFF;
}

.nav-content div{
    width: 85%;
}

.carte svg{
    width:100%;
    padding:10px;
    border-radius:5px;
    margin:15px 0px;
}
main>section[class="nav-content"]{
    width: 90%;
    margin:0 auto;
}
/*--- + VISITED CATEGORIES---*/
/*************************/
.mostVisitedCat h3{
    color:rgb(8, 63, 181);
    margin:0px;
}
.mostVisitedCat{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.mostVisitedCat img{
    margin:1px 1px;
    border-radius:5px;
    width: 100%;
}
.mostVisitedCat div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-top:15px;
    padding:10px;
    border-radius:5px;
}
.mostVisitedCat>div>a>img:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}

/*----TOP SELLER---*/
/*******************/
.topSell h3{
    color:rgb(8, 63, 181);
    margin:0px;
}
.topSell{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.topSell img{
    margin:1px 1px;
    border-radius:5px;
    width:100%;
}
.topSell div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-top:15px;
    padding:10px;
    border-radius:5px;
}

/*--------SLIDER in CATEGORY.PHP-------*/
.slider{
    width:90%;
    margin:0 auto;
}
.img-div{
    width: 300px;
    margin:10px;
    background:white;
}
.img-div>img{
    height:170px;
    width:auto;
    margin:0 auto;
}
.slick-slide{
    height:42%;
    border-radius:5px;
    padding:0px 20px;
}
.slick-slide:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}


.slick-prev:before, .slick-next:before{
    color: rgb(255, 159, 34);
    padding: 174px 10px 126px 10px;
    background: rgb(1, 62, 196);
    font-size: 30px;
    position:relative;
}
.slick-prev:before{
    right:25px;
    border-radius: 5px 0px 0px 5px;
}
.slick-next:before{
    right:5px;
    border-radius:0px 5px 5px 0px;
}

/*---------carte produit--------*/
/********************************/
.produits{
    width:90%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:19%;
    border-radius:5px;
    margin-bottom:10px;
    background-color: white;
}
.card:hover{
    box-shadow: 2px 2px 5px 1px #b6b6b6;
}
.haut{
    width:100%;
    padding-bottom:10px;
    display:flex;
    justify-content:center;
}

.haut img{
    width:auto;
    max-height:200px;
    min-height:50px;
    margin-top:10px;
}

.bas{
    width: 85%;
    display: flex;
    justify-content:end;
    flex-direction: column;
}

.titre_boutique{
    text-align:center;
    color:rgb(8, 63, 181);
    font-size:35px;
}

.detailLink{
    width:50px;
    margin-bottom:5px;
    padding: 10px 5px;
    text-decoration:none;
    border-radius:10px;
    align-items:center;
    background-color:rgb(8, 63, 181);
    color:white;
}
.detailLink:hover{
    background-color:rgb(0, 71, 225);
    color:rgb(255, 159, 34);
    transition-duration: 0.2s;
}

.bas h3{
    margin:10px 0px;
}
.bas p{
    margin:10px 0px;
}
.detail{
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:2%;
}
.btnDetail{
    display:flex;
    align-items:center;
}
hr{
    margin:0px;
}

/*-----------------------------------------ARTICLE.PHP---------------------------------*/
/***************************************************************************************/
.allArticle{
    width:70%;
    margin: 25px auto;
    padding-bottom:30px;
    display: flex;
    justify-content: space-evenly;
}
.imgArticle{
    width:40%;
    margin-right:50px;
}
.imgArticle img{
    width:auto;
    min-height:500px;
    max-height:500px;
}
.descArticle{
    width: 30%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.formPanier select{
    border-radius:4px;
    padding:4px;
    cursor:pointer;
}
.formPanier input{
    padding:6px;
    border: none;
    background-color:rgb(192, 1, 1);
    color:white;
    font-weight:bolder;
    cursor:pointer;
    margin-left:10px;
}
/*----------------ARTICLE DETAILS----------------*/
/*************************************************/
.descArticle h2{
    margin:20px 0px 5px 0px;
}
.articleName,.articleBrand,.articlePrize,.articleDesc{
    margin:0px;
}
.articleBrand{
    font-size:12px;
    margin-bottom:15px;
}
.articlePrize{
    margin-bottom:15px;
}
.articlePrize span{
    font-weight:bolder;
    color:rgb(194, 4, 4);
}
.articleDesc{
    margin-bottom:15px;
}
/*--------------------SIMILAR PRODUCT-----------------*/
/******************************************************/

.similarProduct{
    width:80%;
    margin:0px auto;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.similarProduct a{
    text-decoration:none;
    color:black;
    width:20%;
}
.similarProduct h4{
    margin:20px 0px 5px 0px;
}

.similar{
    padding:20px;
}

.similarTop img{
    width:auto;
    min-height:150px;
    max-height:150px;
}

.similarBottom .articlePrize{
    color:rgb(194, 4, 4);
    font-weight:bolder;
}

/*-------------------------------------CATEGORY.PHP-------------------------------*/
/*********************************************************************************/


/*------------------------------------ADMIN.PHP--------------------------------*/
/******************************************************************************/
/*****************************************************************************/
.userTitle{
    text-align:center;
}
.goShop{
    text-align: center;
    text-decoration: none;
    color:white;
    font-weight:bolder;
}
.goShop div{
    background-color: rgb(8, 63, 181);
    width:60%;
    margin:0% auto;
    padding:15px 0px;
    border-radius:10px;

}
/*---------------LISTE USER------------*/
/**************************************/
.usertab{
    width:80%;
    border:1px solid black;
    border-bottom:none;
}
.ligne{
    height:35px;
    display:flex;
    align-items:center;
    border-bottom:1px solid black;
}
.email , .role{
    display:inline-block;
    width:20%;
    text-align:center;
}
.modifyUser, .deleteUser, .banUser{
    width:18%;
    padding:5px;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    margin: 0% 1%;
    border-radius:5px;
}
.modifyUser{
    background-color:rgb(0, 67, 213);
    color:white;
    font-weight:bolder;
}
.deleteUser{
    background-color:rgb(206, 0, 0);
    color:white;
    font-weight:bolder;
}
.banUser{
    background-color:rgb(43, 43, 43);
    color:white;
    font-weight:bolder;
}
.createUser{
    background-color:rgb(7, 136, 0);
    color:white;
    font-weight:bolder;
    width:5%;
    padding:20px 5px;;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
    border:2px outset rgb(0, 112, 0);
    display:flex;
    align-items:center;
}

.test{
    display:flex;
    width:100%;
    margin:1% 0%;
    justify-content:center;
}

/*---------------------MODIFIER.PHP----------------------*/
/*********************************************************/
.tabUser{
    display:flex;
    justify-content:space-around;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
    border-radius:10px;
}
.afficherUser{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.updateUser form{
    display:flex;
    flex-direction:column;
}
.submit{
    margin-bottom:16px;
}
.updateUser form label{
    margin-top:10px;
}
.submitUpdate{
    margin:10px;
    padding:7px;
    border-radius:5px;
    cursor:pointer;
    background-color:rgb(0, 67, 213);
    color:white;
    border:1px solid black
}

/*----------------------SUPPRIMER.php---------------------*/
/*********************************************************/
.deletetab{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border:1px solid black;
    border-radius: 10px;
}
.deleteBtn{
    margin-bottom:21px;
    padding:15px 40px;
    border:1px solid rgb(206,0,0);
    background-color:rgb(206,0,0);
    font-weight:bolder;
    color:white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.deleteForm{
    display:flex;
    justify-content:center;
    align-items:center;
}
.retourAccueil{
    display:flex;
    justify-content: center;
}

/*----------------------BANNIR.php------------------------*/
/**********************************************************/
.bantab{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border:1px solid black;
    border-radius: 10px;
}
.banBtn{
    margin-bottom:21px;
    padding:15px 40px;
    border:1px solid rgb(43, 43, 43);
    background-color:rgb(43, 43, 43);
    font-weight:bolder;
    color:white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.banForm{
    display:flex;
    justify-content:center;
    align-items:center;
}

/*----------------------CREATE.PHP-----------------------*/
/*********************************************************/
.create form{
    display: flex;
    flex-direction: column;
    padding:15px;
}
.create{
    width:20%;
    margin: 2% auto;
    border:1px solid black;
    border-radius:5px;
}
.create h3{
    text-align:center;
}
.create form label{
    margin-top:10px;
}
.create form input{
    padding:7px;
    border-radius: 5px;
    font-size: 12px;
    border:1px solid black;
}
.create form select{
    padding:7px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 15px; 
}
.submitCreate{
    margin-top:20px;
    background-color: rgb(7, 136, 0);
    color:white;
    font-weight:bolder;
}


/*------------ADD ARTICLE------------*/
/************************************/
.addTitle{
    text-align:center;
}
.addTable{
    border:1px solid black;
    border-radius:7px;;
    width: 50%;
    margin:0px auto;
}
.addArticle form{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin: 20px 20px;
}
.addArticle form label{
    margin-top:10px;
}
.addFormL{
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:space-evenly;
}
.addFormR{
    width:30%;
    display:flex;
    flex-direction:column;
}
.addButton{
    width:20%;
    display:flex;
    flex-direction:column;
    justify-content: right;
}
.addError{
    text-align:center;
    font-weight:bolder;
    color:red;
}
.addSuccess{
    text-align:center;
    font-weight:bolder;
    color:rgb(0, 67, 213);
}


/*-----------------------------------------FOOTER.php---------------------------------------*/
/********************************************************************************************/
footer{
    background-color:rgb(8, 63, 181);
    margin-top:2%;
}
footer p{
    padding:15px;
    margin:0px;
    text-align: center;
    color: #FFFFFF;
    font-size:100px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1861ff, 0 0 30px #1861ff, 0 0 40px #1861ff, 0 0 55px #1861ff, 0 0 75px #1861ff;
}

/*test*/
/*category slide*/
